@import "../styles";

.page-content {
  padding: 30px;
  height: calc(100vh - 120px);
}

.nav-footer {
  background: $navbar-default;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-content {
  height: 60px;
  width: 90%;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px 0 0 0;
}

#div_list {
  display: inline;
}

#ul_list li {
  list-style-type: none;
  margin: 0;
  padding: 0 20px;
  display: inline;
}

a {
  color: $font-color;
}

